<div id="admin">
  <h1>Edit Team</h1>
  <%= form_for(@team) do |f| %>
    <% if @team.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

        <ul>
        <% @team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="actions">
      <%= f.label :team_name %> </br>
      <%= f.text_field :team_name, :size => "50"%></br>

      <%= f.submit %>
    </div>
  <% end %>
</div>
