<div id="admin" class="admin-messages">
  <h3>Messages between <%= @country %> and <%= @country_name %></h3>

  <div class="sidebar">
    <%= render 'admin_sidebar', :country => @country %>
  </div>

  <section class="main">
     <table class="unpr">
      <thead>
        <tr>
          <th>ID #</th>
          <th >Sender</th>
          <th >Round #</th>
          <th >Recipient</th>
          <th >Content</th>
          <th >Created At </th>
          <th >Delete?</th>
<!--           <th >Controls</th> -->
        </tr>
      </thead>
      <tbody>
        <% @messages.each_with_index do |message, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= message.sender.team_name %></td>
            <td><%= message.round_number %></td>
            <td><%= message.recipient.team_name %></td>
            <td><%= message.content %></td>
            <td><%= message.created_at.strftime('%H:%M:%S') %></td>
            <td><%= link_to 'Destroy', message, method: :delete, :class => "button-input", data: { confirm: 'Are you sure?' } %></td>
<!--             <td><%= link_to 'Details', message, :class => "button-input" %>
            <%= link_to 'Edit', edit_message_path(message), :class => "button-input" %>
            <%= link_to 'Destroy', message, method: :delete, :class => "button-input", data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
