<%= form_for(@public_relation) do |f| %>
  <% if @public_relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@public_relation.errors.count, "error") %> prohibited this public_relation from being saved:</h2>

      <ul>
      <% @public_relation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :country %> </br>
    <%= f.select :country, options_for_select(@countries, selected = @public_relation.country) %> <br />
    <%= f.label :description %> </br>
    <%= f.text_area :description, :size => "60x5"%></br>
    <%= f.label :round %> </br>
    <%= f.number_field :round, :in => 0..12, :step => '1', :value=> @current_round %> [Default is current round]</br>
    <%= f.label :pr_amount %> </br>
    <%= f.number_field :pr_amount, :in => -10..10, :step => '1' %></br>
    <%= f.label :source %>
    <%= f.select :source, options_for_select(PublicRelation::VALID_SOURCES, selected = @public_relation.source) %></br><br />
    <%= f.submit %>
  </div>
<% end %>
