<h1><%= @country %> PR View</h1>

<h3> PR Amounts by Round </h3>
<table class="table">
  <thead>
    <tr>
      <th >Round</th>
      <th >Source</th>
      <th >PR Change</th>
    </tr>
  </thead>
  <tbody>
    <% @pr_amounts.each do |data, value| %>
      <tr>
        <td><%= data[0] %></td>
        <td><%= data[1] %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= render 'layouts/country_pr_menu' %>
</br>
<%= link_to 'New Public Relation Entry', new_public_relation_path(:country=> @country) %>

<h2>Listing Public Relations for <%= @country %></h2>
<table class="table">
  <thead>
    <tr>
      <th>Round</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
      <th>Country</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Source</th>
    </tr>
  </thead>

  <tbody>
    <% @public_relations.each do |public_relation| %>
      <tr>
        <td><%= public_relation.round %></td>
        <td><%= link_to 'Show', public_relation %></td>
        <td><%= link_to 'Edit', edit_public_relation_path(public_relation) %></td>
        <td><%= link_to 'Destroy', public_relation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to public_relation.country, country_pr_status_path( public_relation.country) %></td>
        <td><%= public_relation.pr_amount %></td>
        <td><%= public_relation.source %></td>
        <td><%= public_relation.description %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

