<div class="admin">
  <h1>Listing Public Relations</h1>
  <section>
    <%= link_to 'New PR Entry', new_public_relation_path, :class => 'button-input' %>
  </section>

  <%= render 'layouts/country_pr_menu' %>

  <h3>Total PR Changes</h3>
  <section>
    <table class="unpr">
      <thead>
        <tr>
          <th >Round</th>
          <th >Details</th>
          <th >Edit</th>
          <th >Destroy</th>
          <th >Country</th>
          <th >Source</th>
          <th >Amount</th>
          <th >Description</th>
        </tr>
      </thead>
      <tbody>
        <% @public_relations.each do |public_relation| %>
          <tr>
            <td><%= public_relation.round %></td>
            <td><%= link_to 'Details', public_relation, :class => "button-input" %></td>
            <td><%= link_to 'Edit', edit_public_relation_path(public_relation), :class => "button-input" %></td>
            <td><%= link_to 'Destroy', public_relation, method: :delete, :class => "button-input", data: { confirm: 'Are you sure?' } %></td>
            <td><%= public_relation.country%></td>
            <td><%= public_relation.source %></td>
            <td><%= public_relation.pr_amount %></td>
            <td><%= public_relation.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
