<%= form_for(@terror_tracker) do |f| %>
  <% if @terror_tracker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@terror_tracker.errors.count, "error") %> prohibited this terror_tracker from being saved:</h2>

      <ul>
      <% @terror_tracker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :description %> </br>
    <%= f.text_area :description, :size => "60x5"%></br>
    <%= f.label :round %> </br>
    <%= f.number_field :round, :in => 0..12, :step => '1', :value=> @current_round%></br>
    <%= f.label :amount %> </br>
    <%= f.number_field :amount, :in => -100..100, :step => '1' %>
    <%= f.submit %>
  </div>
<% end %>
