<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :text %> </br>
    <%= f.text_area :text, :size => "60x5"%></br>
    <%= f.label :media_url %> </br>
    <%= f.text_field :media_url, :size => "60"%></br>

    <%= f.label "Public?" %> <br />
    <%= f.check_box :is_public %> <br />
    <%= f.label "Published?" %> <br />
    <%= f.check_box :is_published %> <br />
    <%= f.submit %>
  </div>


  <% if !@tweet.media_url.nil? %>
    <% if @tweet.media_url.length > 0 %>
      <%= image_tag @tweet.media_url, size: '150' %>
    <% end %>
  <% end %>
<% end %>
