<div id="admin">
  <h1>Listing Tweets</h1>

  <section>
    <%= link_to "Import Tweets", import_tweets_path, method: :post, :class => "button-input" %>
    <%= link_to 'News Messages', news_messages_path, :class => "button-input" %>
  </section>

  <h3>Listing Imported Tweets</h3>
  <section>
    <table class="unpr">
      <thead>
        <tr>
          <th colspan=2>Controls</th>
          <th>Twitter Name</th>
          <th>ID</th>
          <th>Text</th>
          <th>Media URL</th>
          <th>Tweet Time</th>
        </tr>
      </thead>
      <tbody>
        <% @tweets.each do |tweet| %>
          <tr>
            <td><%= link_to 'Edit', edit_tweet_path(tweet), :class => 'button-input' %></td>
            <td><%= link_to 'Destroy', tweet, method: :delete, :class => 'button-input', data: { confirm: 'Are you sure?' } %></td>
            <td><%= tweet.twitter_name %></td>
            <td><%= tweet.tweet_id %></td>
            <td><%= tweet.text %></td>
            <td>
              <% if !tweet.media_url.nil? %>
                <% if tweet.media_url.length > 0 %>
                  <%= image_tag tweet.media_url, size: '150' %>
                <% end %>
              <% end %>
            </td>
            <td><%= tweet.tweet_time %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
