<div id="admin">
  <h1>Listing Users</h1>

  <section>
    <%= link_to 'New Player', new_user_path, :class => 'button-input' %>
  </section>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>E-mail</th>
        <th>Role</th>
        <th>Team</th>
        <th>Team Role</th>
        <th colspan="2">REST controls</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><% if user.role === 'Player' %><%= user.team.team_name %><% end %></td>
          <td><% if user.role === 'Player' %><%= user.team_role.role_display_name %><% end %></td>
          <td><%= link_to 'Edit', edit_user_path(user), :class => 'button-input' %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button-input' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
