<%= form_for(@news_message) do |f| %>
  <% if @news_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news_message.errors.count, "error") %> prohibited this news_message from being saved:</h2>

      <ul>
      <% @news_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :title %> </br>
    <%= f.text_field :title, placeholder:"AP Reports:" %><br />
    <%= f.label :content %> </br>
    <%= f.text_area :content, :size => "60x5"%></br>
    <%= f.label :round %> </br>
    <%= f.number_field :round, :in => 0..12, :step => '1', :value=> @current_round %> <span>(Default is current round)</span></br>
    <%= f.label :media_url %> </br>
    <%= f.text_field :media_url %> </br>

    <table class="unpr">
      <% if @news_message.id.nil? %>
      <tr>
        <td><%= label_tag "Post to Twitter?" %></td>
        <td><%= check_box_tag :post_online %></td>
      </tr>
      <% end %>
      <tr>
        <td><%= f.label "Publish Content?" %></td>
        <td><%= f.check_box :visible_content %></td>
      </tr>
      <tr>
        <td><%= f.label "Publish Image?" %></td>
        <td><%= f.check_box :visible_image %></td>
      </tr>
    </table>
    <%= f.submit %>
  </div>
<% end %>
