<div id="admin">
  <h1>Newspaper</h1>

  <h3>Turn <%= @round %></h3>
  <section>
    <div class="columns">
      <% @news.each do |name, news_group| %>
        <div class="column <%= name %>">
          <%= image_tag("#{name}.png") %>
          <ul>
            <% news_group.each do |article|%>
              <li>
                <h4><%= article.title %></h4>
                <% if !article.media_url.nil? && article.visible_image && article.media_url.length > 0 %>
                  <%= image_tag article.media_url, width:'75%'%>
                <% end %>
                <p><%= article.content %></p>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </section>
</div>
