<div id="admin">
  <h1>Administrative Controls</h1>

  <h3>Game Controls</h3>
  <section>
    <ul>
      <li>
        <b>Update Control's message to players:</b>
        <%= form_for(@game, url: alert_update_path) do |f|%>
          Next Round:
          <%= f.label "Update Message" %> </br>
          <%= f.text_field :control_message, value: @game.control_message, :size => "60x5"%>
          <%= f.submit %>
        <% end %>
      </li>
      <li>
        Pause/Unpause Game
        <%= link_to toggle_game_status_path, method: :post, :class => "button-input" do %>
          <% if @game.data['paused']==true %>
            <i class="glyphicon glyphicon-play"></i>
          <% else %>
            <i class="glyphicon glyphicon-pause"></i>
          <% end %>
        <% end %>
      </li>
      <li>
        Toggle Alien Comms
        <%= link_to toggle_alien_comms_path, method: :post, :class => "button-input" do %>
          <% if @game.data['alien_comms'] %>
            <i class="glyphicon glyphicon-pause"></i>
          <% else %>
            <i class="glyphicon glyphicon-play"></i>
          <% end %>
        <% end %>
      </li>
    </ul>
  </section>

  <h3>Twitter Accounts </h3>
  <section>
   <%= form_for(@game, url: den_tweet_update_path) do |f|%>
        <%= f.label :den_update, "Daily Earth News Account:" %>
        <%= f.text_field :den, value: @game.den, placeholder:"DailyEarthWTS", :size => "15"%>
      <%= f.submit "Update Account" %>
    <% end %>
   <%= form_for(@game, url: sft_tweet_update_path) do |f|%>
        <%= f.label :sft_update, "Science & Financial Times Account:" %>
        <%= f.text_field :sft, value: @game.sft, placeholder:"SFTNews", :size => "15"%>
      <%= f.submit "Update Account" %>
    <% end %>
   <%= form_for(@game, url: gnn_tweet_update_path) do |f|%>
        <%= f.label :gnn_update, "Global News Network Account:" %>
        <%= f.text_field :gnn, value: @game.gnn, placeholder:"GNNWTS", :size => "15"%>
      <%= f.submit "Update Account" %>
    <% end %>
  </section>

  <h3>Advanced Controls</h3>
  <section>
    <ul>
      <li><p>Next round is at: <%= @time %></p>
        <p>Current time zone is: <%= @game.time_zone %></p>
        <%= form_for(@game, url: update_time_path(@game)) do |f|%>
          <%= f.datetime_select(:next_round, :ampm => true) %>
          <%= f.time_zone_select(:time_zone, /US/, :default => @game.time_zone  ) %>
          <%= f.submit %>
        <% end %>
      </li>
      <li>
        Game is currently
        <% if @game.data['paused'] %>
          <b>paused.</b>
        <% else %>
          <b>unpaused.</b>
        <% end %>
      </li>
      <li>
        <b>Set Round</b>
        <p>Current round is <%= @game.round %></p>
        <%= form_for(@game, url: round_update_path) do |f|%>
            <%= f.label "Update Round" %>
            <%= f.number_field :round, value: @game.round, :in => 0..15, :step => '1'%>
          <%= f.submit %>
        <% end %>
      </li>
    </ul>
  </section>

  <h3>Reset</h3>
  <section>
    <b>Warning:</b>
    <p>The following button wipes <em>all</em> the game data.</p>
    <p>It will also may take a little bit of time to run. (Several seconds)</p>
    <%= form_tag reset_game_path, :method => 'post' do %>
      <%= submit_tag "Reset Game" %>
    <% end %>
  </section>
</div>
