<div id="admin">
  <h1>Administrative Controls</h1>

  <section>
    <%= render "layouts/section_borders", :title => 'Game Controls' %>
    <ul>
      <li>
        <b>Update Control's message to players:</b>
        <%= form_for(@game, url: alert_update_path) do |f|%>
          Next Round:
          <%= f.label "Update Message" %>
          <div class="input-container">
            <%= f.text_field :control_message, value: @game.control_message, :size => "60x5"%>
          </div>
          <%= f.submit %>
        <% end %>
      </li>
      <li>
        Pause/Unpause Game
        <%= link_to toggle_game_status_path, method: :post, :class => "button-input" do %>
          <% if @game.data['paused']==true %>
            <i class="glyphicon glyphicon-play"></i>
          <% else %>
            <i class="glyphicon glyphicon-pause"></i>
          <% end %>
        <% end %>
      </li>
      <li>
        Toggle Alien Comms
        <%= link_to toggle_alien_comms_path, method: :post, :class => "button-input" do %>
          <% if @game.data['alien_comms'] %>
            <i class="glyphicon glyphicon-play"></i>
          <% else %>
            <i class="glyphicon glyphicon-pause"></i>
          <% end %>
        <% end %>
      </li>
    </ul>
  </section>

  <section>
    <%= render "layouts/section_borders", :title => 'Advanced Controls' %>
    <ul>
      <li><p>Current time is: <%= @time %></p>
        <%= form_for(@game, url: update_time_path(@game)) do |f|%>
          <%= Time.use_zone(@time_zone) do %>
          <%= f.datetime_select(:next_round, :ampm => true) %>
          <% end %>

          <%= f.submit %>
        <% end %>
      </li>
      <li>
        Game is currently
        <% if @game.data['paused'] %>
          <b>paused.</b>
        <% else %>
          <b>unpaused.</b>
        <% end %>
        <p>
          If you pause the game. 5 minutes automatically is added to the
          clock. Please manually update the clock if you need more time
          otherwise the round will switch to the next one if you unpause 5
          minutes later.
        </p>
      </li>
      <li>
        <b>Set Round</b>
        <p>Current round is <%= @game.round %></p>
        <%= form_for(@game, url: round_update_path) do |f|%>
            <%= f.label "Update Round" %>
            <div class="input-container">
              <%= f.number_field :round, value: @game.round, :in => 0..15, :step => '1'%>
            </div>
          <%= f.submit %>
        <% end %>
      </li>
    </ul>
  </section>

  <section>
    <%= render "layouts/section_borders", :title => 'Reset' %>
    <b>Warning:</b>
    <p>The following button wipes <em>all</em> the game data.</p>
    <p>It will also may take a little bit of time to run. (Several seconds)</p>
    <%= form_tag reset_game_path, :method => 'post' do %>
      <%= submit_tag "Reset Game" %>
    <% end %>
  </section>
</div>
