<div id="admin">
  <h1>Human Control</h1>

  <h3 class="clearfix">
    <div class="half-width">PR Changes From Round: <%= @last_round %></div>
    <div class="half-width">PR By Country</div>
  </h3>

  <section class="clearfix">
    <div>
      <%= render 'layouts/country_pr_menu' %>
      <p> Credits in the below table are distributed in Round <%= @current_round %> 
        for spending in Round <%= @current_round + 1 %>.</p>
      <table class="unpr">
        <tr>
          <th>Country</th>
          <th>Distributed Round <%= @current_round %> Income</th>
          <th>Distributed Round <%= @current_round %> Credits</th>
          <th>Bonus Reserves Distributed for Round <%= @current_round %></th>
          <th>Distributed Recurring Reserves</th>
        </tr>
        <% @incomes.each do |income| %>
          <tr>
            <td><%= income.team_name %></td>
            <td><%= income.amount%></td>
            <td>
              <% if @income_values[income.team_name].length <= income.amount %>
                <%= @income_values[income.team_name][@income_values[income.team_name].length - 1] %>
              <% else %>
                <%= @income_values[income.team_name][income.amount-1]%>
              <% end %>
            </td>
            <td><%= @game.bonus_reserves.where(team: income.team, round: @current_round, recurring: false).sum(:amount) %></td>
            <td><%= @game.bonus_reserves.where('team_id = ? AND round <= ? AND recurring = TRUE', income.team_id, @current_round).sum(:amount) %></td>
          </tr>
          <% end %>
      </table>
      <%= link_to "Income Index" , incomes_path(),:class => "button-input" %>
      <%= link_to "Add Bonus Reserves", new_bonus_reserve_path, :class => 'button-input' %>
      <%= link_to "Bonus Reserves Index", bonus_reserves_path, :class => "button-input" %>
    </div>
  </section>

  <h3>Bulk Human PR Creation</h3>
  <section>
    <%= form_for :human_bulk_pr do |form| %>
      <%= form.label :round_label, "Round: " %>
      <%= form.number_field :round, :in => 0..12, :step => '1', :value=> @current_round %> <span>(Default is current round)</span><br />
      <%= form.label :main_modifier_bale, "Main PR Modifier: " %>
      <%= form.number_field :main_pr_amount, :in => -10..10, :step => '1' %></br>
      <%= form.label :main_description_label, "Main Description of PR: " %>
      <%= form.text_field :main_description, size: 50, :placeholder => "ex. Held World Trade Conference" %>
      <%= form.select :main_source, options_for_select(PublicRelation::VALID_SOURCES) %>
      <p>
        If Main Description is filled in, all blank descriptions will use
        Main Description unless they have a non-blank description filled in.
        Likewise for the Modifier.
      </p>
      <p>
        If neither Main Description and Main Modifier are entered in, then
        individual countries with a blank PR Modifier and Description will be
        ignored.
      </p>
      <p>
        Negative PR is stored as UN Crisis and Positive PR is stored as
        UN Bonus.
      </p>

      <table class="unpr">
        <thead>
          <tr>
            <th>Country</th>
            <th>PR Modifier</th>
            <th>Description</th>
            <th>Source</th>
          </tr>
        </thead>
        <tbody>
          <% @teams.each do |country| %>
            <%= form.fields_for ('countries['+country.team_name+']') do |country_form| %>
              <%= country_form.hidden_field :name, :value => country.team_name %>
              <tr>
                <td><%= country_form.label country, country.team_name %> </td>
                <td><%= country_form.number_field :pr_amount, :in => -10..10, :step => '1' %></td>
                <td><%= country_form.text_area :description, :size => "60x2", :placeholder => "ex. 'Mouthed off to the UN Secretary General' or 'Bribed the UN with candy'" %></td>
                <td><%= country_form.select :source, options_for_select(PublicRelation::VALID_SOURCES) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= form.submit "Save new PR" %>

    <% end %>
    <div>
      <p>
        <em>
          PR effects collected on turn <%= @current_round %> will be distributed to teams halfway
          through turn <%= @current_round + 1 %> along with credits.  These credits will then be usable in turn <%= @current_round + 2%>.
        </em>
      </p>
      <table class="unpr">
        <thead>
          <tr>
            <th >Country</th>
            <th >PR Change</th>
            <th >Details</th>
          </tr>
        </thead>
        <tbody>
          <% @pr_amounts.each do |data, value| %>
            <tr>
              <td><%= data %></td>
              <td><%= value %></td>
              <td><%= link_to "Details", country_pr_status_path(data), :class => "button-input" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br />
    <%= link_to 'New PR Entry', new_public_relation_path, :class => 'button-input' %>
  </section>
</div>
