<h1>Human Control</h1>

<%= link_to 'New PR Entry', new_public_relation_path %>

<h2>PR Changes for Round: <%= @last_round %></h2>
<table class="table">
  <thead>
    <tr>
      <th >Country</th>
      <th >Source</th>
      <th >PR Change</th>
    </tr>
  </thead>
  <tbody>
    <% @pr_amounts.each do |data, value| %>
      <tr>
        <td><%= data[0] %></td>
        <td><%= data[1] %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'layouts/country_pr_menu' %>

<%= render 'layouts/public_relations_listing' %>

<br>

