<div ng-app="mobileApp" ng-controller="mobileCtrl" class="mobile_dashboard" ng-class="getRoleClass()">
  <div class="country-header">
    <div class="country-items">
      <%= render(:partial => "header", :controller => "mobile_dashboard") %>
    </div>
    <div ng-if="controlMessage" class="country-messages">Important Messages: {{controlMessage}}</div>
  </div>

  <div class="tabs" ng-controller="tabsCtrl">
    <%= render(:partial => "navigation", :controller => "mobile_dashboard") %>

    <div id="tab-news" class="tab news" ng-show="focusedTab === 'news'" ng-controller="newsCtrl">
      <%= render(:partial => "news", :controller => "mobile_dashboard") %>
    </div>

    <div id="tab-messages" class="tab messages" ng-show="focusedTab === 'messages'" ng-controller="messagesCtrl">
      <%= render(:partial => "messages", :controller => "mobile_dashboard") %>
    </div>


    <!-- Operatives -->

    <!-- Spying -->

    <div id="tab-income" class="tab income" ng-if="checkPermissions('income')" ng-show="focusedTab === 'income'" ng-controller="incomeCtrl">
      <%= render(:partial => "income", :controller => "mobile_dashboard") %>
    </div>

    <!-- Research -->
    <!-- Trades -->
    <!-- Rumours -->
  </div>
</div>
