<div id="splash">
  <h1 id="logo"><img src="/assets/logo_wts.png"></h1>
  <div id="games">
    <% if current_user.nil? %>
      <h2>Here for a game?</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
          <%= f.email_field :email, placeholder: "Email address", autofocus: true, class: "form-control" %>
          <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: "form-control" %>

        <% if devise_mapping.rememberable? -%>
          <div class="checkbox">
            <label>
            <%= f.check_box :remember_me %> Remember Me
            </label>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "Sign in", :class => "form-control button"%>
        </div>
      <% end %>
    <% else %>
      <h2>Welcome back, <%= current_user.email %>!</h2>
      <div class="welcome">Now that you've signed in you can go to the <%= link_to 'Dashboard', dashboard_path , method: :get %>
      <% if current_user.admin? %> and <%= link_to 'Administration', admin_control_path, method: :get %>,<% end %> or <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
      </div>
    <% end %>
  </div>

  <div id="footer">
    <h2>For more Megagames, visit</h2>
    <a href="http://www.megagamesociety.com" target="_blank"><img src="/assets/logo_mgs.png" /></a>
    <div class="social">
      <a href="http://www.megagamesociety.com" target="_blank" class="home"></a>
      <a href="https://twitter.com/megagamesociety" target="_blank" class="twitter"></a>
      <a href="https://www.facebook.com/megagamesociety" target="_blank" class="facebook"></a>
    </div>
  </div>
</div>

