<%= form_for @bonus_credits do |f| %>
  <% if @bonus_credits.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bonus_credits.errors.count, "error") %> prohibited these bonus reserves from being saved:</h2>

      <ul>
        <% @bonus_credits.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <%= f.label :team %>
    <%= f.select :team, options_for_select(@teams.collect{ |team| [team.team_name, team.id]}) %> <br />
    <%= f.label :round %>
    <%= f.number_field :round, :in => 0..12, :step => '1', :value=> @round %><br />
    <%= f.label :amount %>
    <%= f.number_field :amount, :in => -12..12, :step => '1', :value=> @bonus_credits.amount %><br />
    <%= f.label :recurring %>
    <%= f.check_box :recurring %><br />
    <%= f.submit %>
  </div>
<% end %>
