<% unless current_user.nil? %>
<nav id="admin-nav">
  <ul>
    <li><%= link_to 'Dashboard', dashboard_path , method: :get %></li>
    <li><%= link_to 'United Nations', un_dashboard_path %></li>
    <li><%= link_to 'Terror Tracker', terror_trackers_path %></li>
    <li><%= link_to 'Human Controls', human_control_path %></li>
    <li><%= link_to 'PR Controls', public_relations_path %></li>
    <li><%= link_to 'News', news_messages_path %></li>
    <li><%= link_to 'Messages', messages_path %></li>
    <li><%= link_to 'Administration', admin_control_path %></li>
    <% if current_user && current_user.admin? %>
      <li><%= link_to 'Users', users_path %></li>
      <% if current_user && current_user.super_admin? %>
      <li><%= link_to 'Teams', teams_path %></li>
      <% end %>
    <% end %>
    <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
  </ul>
</nav>
<% end %>
