<!DOCTYPE html>
<html>
  <head>
    <title>WatchTheSkiesDashboard</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.js"></script>

    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= 'dashboard' if current_page?('/') %>">
    <%= yield %>

    <%= render "layouts/footer_navbar" %>
  </body>
</html>
